{% extends "layout.html.twig" %}
{% block content %}
    <h1>Dodaj przystanek</h1>
    {% if errors|length > 0 %}
        <h4>⚠️ Błędy przy dodawaniu przystanku</h4>
        <p class="alert alert-danger">
            Wystąpiły błędy, zobacz poniżej co poszło nie tak i popraw:
        </p>
        <ol>
            {% for error in errors %}
            <li>
                ❌ {{ error|e }}
            </li>
        {% endfor %}
        </ol>
    {% endif %}
    <form action="/dodaj" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="przystanek">Zaproponuj przystanek</label>
            <input type="text" class="form-control" id="przystanek" name="nazwa" value="{{ data.nazwa|e }}" aria-describedby="Przystanek" placeholder="Nazwa przystanku" required>
            <small id="przystanekHelp" class="form-text text-muted">Nazwa może być dodana tylko raz i nie może być zmieniona. Pole obowiązkowe</small>
        </div>
        <div class="form-group">
            <label for="adres">Adres przystanku</label>
            <input type="text" class="form-control" id="adres" name="adres" value="{{ data.adres|e }}" placeholder="Adres przystanku">
            <small id="przystanekHelp" class="form-text text-muted">Adres przystanku może być dodany tylko raz i nie może być zmieniony. Pole obowiązkowe *</small>
        </div>
        <div class="form-group">
            <label for="opis">Opis przystanku</label>
            <textarea class="form-control" id="opis" name="opis" value="{{ data.opis|e }}" rows="4"></textarea>
            <small id="przystanekHelp" class="form-text text-muted">Pole nieobowiązkowe</small>
        </div>
        <h5>Załączniki</h5>
        <p>Możesz dołączyć maksymalnie 3 załączniki w poprularnych formatach graficznych takich jak: jpeg, png. Maksymanlny rozmiar 2MB.</p>
        <div class="form-group">
            <label for="zal1">Załącznik obrazu 1</label>
            <input type="file" class="form-control-file" id="zal1" name="zdj1" value="{{ data.zdj1|e }}" accept=".jpeg,.png" max-size="2048">
        </div>
        <div class="form-group">
            <label for="zal2">Załącznik obrazu 2</label>
            <input type="file" class="form-control-file" id="zal2" name="zdj2" value="{{ data.zdj2|e }}" accept=".jpeg,.png" max-size="2048">
        </div>
        <div class="form-group">
            <label for="zal3">Załącznik obrazu 3</label>
            <input type="file" class="form-control-file" id="zal3" name="zdj3" value="{{ data.zdj3|e }}" accept=".jpeg,.png" max-size="2048">
        </div>
        <button type="submit" name="wyslij" value="wyślij" class="btn btn-primary">Wyślij propozycję</button>
    </form>
{% endblock %}
{% block error %}
{% endblock %}